.table-container {
  margin-top: 75px;
  padding: 10px;
}

.table-header {
  background-color: #fdfdfd;
  border: 1.5px solid #c0c0c0;
}

.table-header-cell {
  padding: 8px;
  font-weight: bold !important;
  border: 1px solid #ccc;
  color: #333;
}

.table-header-id {
  width: 5%;
}